{% macro firstLoad(num) %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TuneQ - Bringing democracy to your playlists</title>
		<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	</head>
  <body><center>
  	<div id="header"><img src="/static/img/logo.png">
	</div>
	<p><h2>Text {{ num }} to start your queue!</h2></p>
	<p><div id="git"><a href="https://twitter.com/strong_code" class="twitter-follow-button" data-show-count="false">Follow @strong_code</a></div>

		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<div id="twit"><a href="https://github.com/strong-code/tuneq"
	   class="gitforked-button gitforked-forks gitforked-watchers">Fork</a></div>

		<script src="http://gitforked.com/api/1.1/button.js" type="text/javascript"></script>
		</p>
	</center>
  </body>
</html>
{% endmacro %}
