{% macro vid(url, currQueue) %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TuneQ - Bringing democracy to your playlists</title>
		<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	</head>
  <body><center>
  	<div id="header"><img src="/static/img/logo.png">
  	</div>
  	<h1>Current track:</h1>
    <div id="player"></div></center>
    	<p><div id="queue"><h2>Next up:</h2>
    		<ol class="tracks">
    			{% for track in currQueue %}
    			<li>{{ track }}</li>
    			{% else %}
    			Queue is empty! Send a text to add a track!
    			{% endfor %}
    		</ol>
    	</div>
    	<center><p><div id="git"><a href="https://twitter.com/strong_code" class="twitter-follow-button" data-show-count="false">Follow @strong_code</a></div>

		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<div id="twit"><a href="https://github.com/strong-code/tuneq"
	   class="gitforked-button gitforked-forks gitforked-watchers">Fork</a></div>

		<script src="http://gitforked.com/api/1.1/button.js" type="text/javascript"></script>
		</p></center>

    <script>

    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	var player;
	function onYouTubeIframeAPIReady() {
	player = new YT.Player('player', {
	  height: '390',
	  width: '640',
	  videoId: '{{ url|safe }}',
	  playervars: { 'autoplay': 1, 'controls': 0},
	  events: {
	    'onReady': onPlayerReady,
	    'onStateChange': onPlayerStateChange
	  }
	});
	}

	function onPlayerReady(event) {
	event.target.playVideo();
	}

	function onPlayerStateChange(event) {
		if (event.data == YT.PlayerState.ENDED) {
			window.location.reload();
		}
	}
	function stopVideo() {
	player.stopVideo();
	}
    </script>
  </body>
</html>
{% endmacro %}
